


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    line-height: 1.1;

}

ul li {
    list-style: none;
    padding-top: 10px;
}

img {
    display: block;
    max-width: 100%;
    margin-inline: auto;
    border-radius: 50%;
}

a {
    color: white;
    text-decoration: none;
    
}

body {
    font-weight: 400;
    font-size: 16px; 
    line-height: 1.6;
    color: white;
    background-color: black;
    text-align: center;
}

.user-name {
    font-weight: 700;
    margin-bottom: .5rem;
}

.user-location {
    color: hsl(75, 94%, 57%);
    font-weight: 600;
    margin-bottom: 1.25rem;
}

.list-item {
    display: block;
    width: 100%;
    text-align: center;
    padding: .7rem;
    border-radius: .3rem;
    background-color: gray;
    transition: background-color 0.3s ease, color 0.3s ease;  
}

.wrapper {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.profile-container {
    width: 25em;
    padding: 1.75rem;
    border-radius: .6rem;
    background-color: hsl(0, 0%, 12%);
    margin-bottom: 2rem; 
}

.social-links {
    margin-top: 2rem; 
}

.list-item:hover {
    color: hsl(0, 0%, 8%);
    background-color: hsl(75, 94%, 57%);
}

.user-image {
    width: 6em;
    margin-bottom: 1.5rem;
    border-radius: 50%;
}


